<app-card-base [title]="item.itemName">
  <div class="space-y-2">
    @if (item.imageUrl) {
      <img
        [src]="item.imageUrl"
        alt="商品画像"
        class="w-full aspect-square object-cover rounded"
      />
    }
    <span class="block">{{ item.itemName }}</span>
    <span
      class="text-xs font-semibold px-2 py-1 bg-pink-50 rounded text-pink-600"
    >
      {{ item.brandName }}
    </span>
    <span class="text-xs bg-gray-100 px-2 py-1 rounded">{{
      item.category
    }}</span>

    @if (item.price) {
      <p class="text-sm font-bold text-gray-900">¥{{ item.price | number }}</p>
    }
    <p class="text-sm text-gray-600 line-clamp-3">
      {{ item.memo }}
    </p>
    @if (item.id !== undefined && item.id !== null) {
      <a
        [routerLink]="['/favorites', item.id]"
        class="text-gray-700 text-xs hover:underline block"
      >
        > 詳細を見る
      </a>
    }
  </div>
</app-card-base>
