<main>
  <div class="mb-6 flex gap-4 border-b border-gray-200">
    <a
      routerLink="/brands"
      routerLinkActive="text-daidai border-b border-daidai"
      class="hover:text-daidai transition px-3 py-2 md:px-6 md:py-3"
    >
      ブランド一覧
    </a>
    <a
      routerLink="/new-items"
      routerLinkActive="text-daidai border-b border-daidai"
      class="hover:text-daidai transition px-3 py-2 md:px-6 md:py-3"
    >
      新作商品
    </a>
    <a
      routerLink="/favorites"
      routerLinkActive="text-daidai border-b border-daidai"
      class="hover:text-daidai transition px-3 py-2 md:px-6 md:py-3"
    >
      お気に入り商品
    </a>
  </div>

  <section class="content">
    <router-outlet />
  </section>
</main>
