<app-category-tabs
  [selectedCategory]="currentCategory"
  (categoryChange)="onCategoryChanged($event)"
>
</app-category-tabs>

<!-- 追加ボタン -->
<app-add-button
  class="flex justify-end mb-4"
  label="ブランドを追加"
  (btnClick)="openAddModal()"
>
</app-add-button>

<!-- ブランド一覧をグリッド表示 -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
  @for (brand of filteredBrands; track brand) {
  <app-brand-card [brand]="brand"></app-brand-card>
  }
</div>

<!-- ブランド情報入力モーダル -->
<app-brand-input-modal
  [isOpen]="isModalOpen"
  (closeModal)="closeModal()"
  (submitBrand)="submitBrand($event)"
></app-brand-input-modal>
